body {
	text-align: center;
	margin: 0;
	background-color: #F2F2F2;
	/*background-color: #000000;*/
}

div {
	/*border: solid 1px red;*/
}

h1 {
	font-family: Verdana, sans-serif;
 	letter-spacing: 1px;
 	font-weight: 400;
 	font-size: 45px;
 	text-transform: uppercase;
 	margin: 0;
 }

h2 {
	font-family: Verdana, sans-serif;
 	color: #0D2C40;
 	letter-spacing: 1px;
 	font-weight: 600;
 	font-size: 18px;
 	text-transform: uppercase;
}

h3 {
	font-family: Verdana, sans-serif
}

a {
 	text-decoration: none;
 	text-transform: uppercase;
 	font-family: sans-serif;
 	color: #FFFFFF;
 	letter-spacing: 1px;
 	font-weight: 600;
 	font-size: 12px;
 	margin: 0px;
 }

p {
	font-family: Verdana, serif;
	line-height: 26px;
 	font-size: 16px;
 	margin: 0;
}

.title {
	margin: 10px;
	/*border-bottom: solid 5px pink;*/
	border-bottom: 6px solid transparent;
	border-image: linear-gradient(to right, red, yellow, green, blue);
	border-image-slice: 1;
}

.menu {
	padding: 20px;
}

.pageWrapper {
	width: 850px;
	margin: 35px auto;
}

.footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: #FFFFFF;
	letter-spacing: .08em;
	font-size: 12px;
	font-weight: 500;
	padding: 16px 0;
	font-family: sans-serif;
}

.gameArea {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 490px;
	margin: 0 auto;

}

.gameHeader {
	/*background-color: #CAE5D9;*/
	background-color: #B8FAD2;
	border-bottom: solid 2px #38403C;
	width: 470px;
	height: 40px;
	padding: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.gameOptions {
	background-color: #FFF9FB;
	border-radius: 14px;
	border: 2px solid #60B27B;
	display: inline-block;
	cursor: pointer;
	font-family: Verdana;
	font-size:14px;
	font-weight: bold;
	padding: 8px 14px;
	text-decoration: none;
}

.gameOptions:hover {
	background-color:#60B27B;
}

.gameOptions:active {
	position:relative;
	top:3px;
}

.gameBoard {
	/*background-color: #C4C4C4;*/
	background-color: #F2F2F2;
	height: 360px;
	width: 490px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row {
	display: flex;
	align-items: center;
}

.col {
	display: inline-block;
	position: relative;
	height: 120px;
	width: 120px;
}

h3 {
	margin: 0 auto;
	padding: 0px;
}

#announcement {
	display: flex;
	background-color: #F2F2F2;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	/*margin: 0px;
	padding: 0px;*/
}

.tile {
	background-color:#F2F2F2;
	border-radius:400px;
	display:inline-block;
	cursor:pointer;
	padding:40px 40px;
	margin: 10px;
	border: 8px solid #000000;
}

.tile:active {
	position:relative;
	top:5px;
}

/*
colour codes:
one = red FF1919
two = blue 65DDFF
three = green 00FF48
four = yellow FFF964
five = purple BE55FF
six = peach FFAD7D
seven = brown B27758
eight = olive B2B147
*/

/*base styling*/

#red.bk {
	background-color: #FF1919;
}

#blue.bk {
	background-color: #65DDFF;
}

#green.bk {
	background-color: #00FF48;
}

#yellow.bk {
	background-color: #FFF964;
}

#red:active {
	background-color: #FF1919;
}

#blue:active {
	background-color: #65DDFF;
}

#green:active {
	background-color: #00FF48;
}

#yellow:active {
	background-color: #FFF964;
}


/*Hard Mode styling:*/

#text {
	font-size: 24px;
	color: red;
	visibility: hidden;
}

.extra {
	visibility: hidden;
}

#purple.bk {
	background-color: #BE55FF;
}

#peach.bk {
	background-color: #FFAD7D;
}

#brown.bk {
	background-color: #B27758;
}

#olive.bk {
	background-color: #B2B147;
}

#purple:active {
	background-color: #BE55FF;
}

#peach:active {
	background-color: #FFAD7D;
}

#brown:active {
	background-color: #B27758;
}

#olive:active {
	background-color: #B2B147;
}


/*Styling for accordion menu*/

.menu {
	text-align: center;
}

.accordion {
	background-color: #B8FAD2;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 490px;
	text-align: center;
	border: none;
	outline: none;
	transition: 0.4s;
	font-size: 14px;
	border-bottom: solid 2px #38403C;
}

.active, .accordion:hover {
	background-color: #60B27B;
}

.panel {
	background-color: #FFF9FB;
	padding: 10px 16px;
	width: 458px;
	margin: 0 auto;
	background-color: white;
	display: none;
	overflow: hidden;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}