body {
	text-align: center;
	margin: 0;
	background-color: #F2F2F2;
	/*background-color: #000000;*/
}

div {
	/*border: solid 1px red;*/
}

.title {
	margin: 10px;
}

.instructions {
	padding: 20px;
}

h1 {
	font-family: Verdana, sans-serif;
 	letter-spacing: 1px;
 	font-weight: 400;
 	font-size: 45px;
 	text-transform: uppercase;
 	margin: 0;
 }

h2 {
	font-family: Verdana, sans-serif;
 	color: #0D2C40;
 	letter-spacing: 1px;
 	font-weight: 600;
 	font-size: 18px;
 	text-transform: uppercase;
}

a {
 	text-decoration: none;
 	text-transform: uppercase;
 	font-family: sans-serif;
 	color: #FFFFFF;
 	letter-spacing: 1px;
 	font-weight: 600;
 	font-size: 12px;
 	margin: 0px;
 }


p {
	font-family: Verdana, serif;
	line-height: 26px;
 	font-size: 16px;
 	margin: 0;
}

.pageWrapper {
	width: 850px;
	margin: 35px auto;
}

.footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: #FFFFFF;
	letter-spacing: .08em;
	font-size: 12px;
	font-weight: 500;
	padding: 16px 0;
	font-family: sans-serif;
}

.gameArea {
	display: flex;
	flex-direction: column;
	width: 490px;
	margin: 0 auto;

}

.gameHeader {
	background-color: #73CE99;
	width: 490px;
	height: 40px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.gameBoard {
	/*background-color: #C4C4C4;*/
	background-color: #F2F2F2;
	height: 320px;
	width: 490px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row {
	display: block;
}


.tile {
	background-color:#F2F2F2;
	border-radius:400px;
	display:inline-block;
	cursor:pointer;
	padding:40px 40px;
	margin: 10px;
	border: 8px solid #000000;
}

.tile:active {
	position:relative;
	top:1px;
}

/*#red {
	border:8px solid red;
}

#blue {
	border:8px solid #52F8FF;
}

#green {
	border:8px solid #9BFF0D;
}

#yellow {
	border:8px solid #E89B0C;
}*/

#red.bk {
	background-color: red;
}

#blue.bk {
	background-color: #52F8FF;
}

#green.bk {
	background-color: #9BFF0D;
}

#yellow.bk {
	background-color: #E89B0C;
}

#red:active {
	background-color: red;
}

#blue:active {
	background-color: #52F8FF;
}

#green:active {
	background-color: #9BFF0D;
}

#yellow:active {
	background-color: #E89B0C;
}